<%- include('../layouts/app/head', {title: 'Planos'}) %><div class='dashboard-layout'><%- include('../partials/sidebar') %><main class='app-main'><%- include('../partials/app-header') %><div class='dashboard-content'><h1 style='color:white'>Planos (Em Breve)</h1></div></main></div>
