<%- include('../partials/header.ejs') %>
<div class="layout-wrapper">
    <%- include('../partials/sidebar.ejs') %>
    <main class="dashboard-main">
        <div class="content-wrapper">
            <h1>Meu Plano</h1>
            <div class="card-box">
                <h2 class="text-neon">Plano Ativo: Fit Start</h2>
                <p class="text-muted">Renovação em: 15/02/2026</p>
                <button class="btn btn-outline">Gerenciar Assinatura</button>
            </div>
        </div>
    </main>
</div>
<%- include('../partials/footer.ejs') %>
