<%- include('../partials/header.ejs') %>
<div class="header-spacer"></div>
<div class="container" style="padding: 60px 20px; text-align: center;">
    <h1>Fale Conosco</h1>
    <p>Dúvidas? Estamos aqui para ajudar.</p>
    </div>
<%- include('../partials/footer.ejs') %>
