<%- include('../partials/header.ejs') %>
<div class="header-spacer"></div>
<div class="container" style="padding: 60px 20px;">
    <h1>Termos de Uso e Privacidade</h1>
    <p>Texto legal...</p>
</div>
<%- include('../partials/footer.ejs') %>
